/* Configurações Globais */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

:root{
    --corPrincipal: #9966CC;
}
/* Configurações Globais */

/* Classes Globais */
p{
    color: #65758B;
    font-size: 14px;
}

.button{
    display: inline-block;
    padding:15px 20px;
    background-color: var(--corPrincipal);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 14px;
    font-weight: bold;
}

.button:hover{
    background-color: #7A4DA0;
}

.button i{
    margin-right: 10px;
}

/* Classes Globais */

/* header */
header{
    padding: 20px 2%;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .wraper-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

header .wraper-logo h1{
    font-size: 18px;
    color: black;
}

header .logo{
    width: 70px;
}

.menu-mobile{
    display: none;
}

header nav.menu-desktop ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

header nav.menu-desktop ul li a{
    text-decoration: none;
    color: #65758B;
    font-size: 14px;
    transition: 0.4s;
}

header nav.menu-desktop ul li a:hover{
    color: black;
}
/* header */